.label {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 12px;
}

.input {
  font-size: 26px;
  color: #0A033C;
  border-color: #0A033C;
  border-radius: 10px;
}

.option {
  font-size: 26px;
  color: #0A033C;
}