.root {
  position: relative;
  padding: var(--mantine-spacing-md);
  transition: border-color 150ms ease;
  border-color: #0A033C;

  &[data-checked] {
    border-color: var(--mantine-primary-color-filled);
  }

  @mixin hover {
    @mixin light {
      background-color: var(--mantine-color-gray-2);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}